/* -----------------------------------
   1. Globally Applied Styles
   2. Header
   3. Index
   4. Info
   4-1. Info1
   4-2. Info2
   4-3. Info3
   5. Business
   6. Company
   7. Recruit
   8. Privacy/Person
   9. Footer
   10. Media Screen
   11. Other
   ----------------------------------- */

/* --------------------------
   1. Globally Applied Styles
   -------------------------- */
body {
  margin: 0;
  padding: 0;
  font-family: "メイリオ", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro, Osaka", "ＭＳ Ｐゴシック",
    "Meiryo, MS PGothic, sans-serif" !important;
  margin-top: 75px;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol {
  margin: 0;
}
.clear {
  clear: both;
}
/* Slicknav Menu */
.slicknav_menu {
  display: none;
  height: 75px;
  margin-left: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.slicknav_menu ul {
  padding: 0;
}
.slicknav_menu .slicknav_icon-bar,
.slicknav_menu .slicknav_icon-bar:after,
.slicknav_menu .slicknav_icon-bar:before {
  background-color: #666;
  display: inline-block;
  position: relative;
  top: -4px;
  width: 22px;
  height: 2px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.slicknav_btn {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slicknav_btn .slicknav_icon {
  position: relative;
  line-height: 10px;
  height: 19px;
  width: 25px;
  padding-right: 15px;
}
.slicknav_menu .slicknav_open .slicknav_icon-bar {
  background-color: transparent;
}
.slicknav_menu .slicknav_icon-bar {
  display: inline-block;
  position: relative;
}
.slicknav_menu .slicknav_open .slicknav_icon-bar:before {
  -webkit-transform: translateY(6px) rotateZ(-45deg);
  -moz-transform: translateY(6px) rotateZ(-45deg);
  -ms-transform: translateY(6px) rotateZ(-45deg);
  -o-transform: translateY(6px) rotateZ(-45deg);
  transform: translateY(6px) rotateZ(-45deg);
}
.slicknav_menu .slicknav_icon-bar:before {
  content: "";
  position: absolute;
  top: -6px;
}
.slicknav_menu .slicknav_open .slicknav_icon-bar:after {
  -webkit-transform: translateY(-6px) rotateZ(45deg);
  -moz-transform: translateY(-6px) rotateZ(45deg);
  -ms-transform: translateY(-6px) rotateZ(45deg);
  -o-transform: translateY(-6px) rotateZ(45deg);
  transform: translateY(-6px) rotateZ(45deg);
}
.slicknav_menu .slicknav_icon-bar:after {
  content: "";
  position: absolute;
  top: 6px;
}
.slicknav_menu .slicknav_nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 75px;
  margin: 0;
  padding: 20px 35px;
  background-color: #2e86c19c;
}
.slicknav_menu .slicknav_nav li ul {
  padding-left: 20px;
}
.slicknav_menu .slicknav_nav li {
  display: block;
  position: relative;
}
.slicknav_menu .slicknav_nav li a {
  display: block;
  outline: 0;
  color: #fff;
  font-size: 14px;
  padding: 5px 0;
  position: relative;
  text-decoration: none;
}
.slicknav_menu .slicknav_nav li a a {
  padding: 0;
}
.slicknav_menu .slicknav_collapsed .slicknav_arrow,
.slicknav_menu .slicknav_open .slicknav_arrow {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 15px;
}
.slicknav_menu .slicknav_open .slicknav_arrow:before {
  content: "\f107";
}
.slicknav_menu .slicknav_collapsed .slicknav_arrow:before {
  content: "\f105";
}
.hovereffect {
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}
.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}
.hovereffect h3 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #fff;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.hovereffect a,
.hovereffect p {
  color: #fff;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.hovereffect:hover a,
.hovereffect:hover p,
.hovereffect:hover h3 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.btn-load-more {
  width: 140px;
  margin: 40px auto;
}
.btn-load-more .load-more {
  padding: 10px 20px 10px 20px;
  border: 2px solid #aba5a5;
  color: #968f8f;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  background: transparent;
  outline: 0;
}
.btn-load-more .load-more a {
  text-decoration: none;
  color: #a3a3a3;
}
/* --------------------------
   2. Header
   -------------------------- */
header {
  height: 75px;
  position: fixed;
  background: #fff;
  z-index: 999;
  width: 100%;
  border-bottom: 1px solid #f3f2f1;
  top: 0;
}
header .menu ul {
  font-size: 12px;
  text-transform: uppercase;
  padding: 0;
  line-height: 75px;
  text-align: left;
}
header .menu ul li {
  display: inline;
  margin-right: 20px;
  font-family: "Palanquin", sans-serif;
  letter-spacing: 2px;
  position: relative;
}
header .menu ul li:hover {
  color: #d8c9c9;
}
header .menu ul li a {
  text-decoration: none;
  color: inherit;
  padding-bottom: 25px;
}
header .menu ul li .active {
  border-bottom: 2px solid #f00;
}
header .menu ul li a:hover {
  text-decoration: none;
  color: inherit;
}
header .menu ul li:hover > ul {
  display: block;
}
header .menu ul ul {
  display: none;
  position: absolute;
  left: 0;
  background-color: #333;
  min-width: 180px;
  padding: 0;
  text-align: left;
}
header .menu ul ul li {
  display: block;
  margin-right: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #4c4c4c;
}
header .menu ul ul li:last-child {
  border-bottom: 0;
}
header .menu ul ul li a {
  display: block;
  line-height: 18px;
  padding: 15px 15px;
}

header .menu ul li ul li ul {
  left: 100%;
  top: 0;
}
@media screen and (max-width: 1300px) {
  header .menu ul li ul li ul {
    left: -100% !important;
  }
}
.headcss {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.imgsize {
  width: 60px;
  height: 60px;
}
.companyname {
  width: 150px;
  height: 65px;
}
header .logo {
  padding-top: 4px;
  font-size: 35px !important;
  /*font-family: "Quicksand", sans-serif;*/
  line-height: 68px !important;
}
/* --------------------------
   3. Index
   -------------------------- */
/*carousel*/
.topimg {
  width: 100%;
  height: 500px;
  position: relative !important;
  overflow: hidden;
}
@media screen and (max-height: 850px) and (max-width: 450px) {
  .topimg {
    height: 300px;
  }
}
.homeImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  position: absolute !important;
  background-attachment: fixed;
}
@media screen and (min-width: 1000px) {
  .homeImage {
    background-position: center center !important;
  }
}
/*container*/
.indexinfo {
  display: block;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  opacity: 1;
}
.indexText {
  margin: 0 0 40px 0;
  text-align: left;
  width: 800px;
  margin: 0 auto;
}
.indexinfo h1 {
  clear: both;
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

@media screen and (max-width: 820px) {
  .indexText {
    width: auto;
  }
  .indexinfo h1 {
    width: auto;
  }
}

.info {
  display: block;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: white;
  opacity: 1;
}
.h1TxtVer {
  clear: both;
  width: 100%;
  margin: 20px 0 40px;
}
.contact-content .h1TxtVer h1 {
  font-size: 250%;
  line-height: 1;
}
.topTxt {
  margin: 0 0 40px 0;
}
.font17 {
  font-size: 17px;
  line-height: 2;
}
.new {
  width: 800px;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 70px;
}
@media screen and (max-width: 820px) {
  .new {
    width: auto;
  }
}
.new th {
  background: #ddd;
  font-weight: normal;
}
.new h2 {
  padding: 0 0 10px !important;
  font-size: 185.7%;
  line-height: 1.25;
  font-weight: normal;
}
.new .line {
  height: 1px;
  width: 50px;
  background-color: #2e86c1;
  margin: 0 0 30px;
}
.table {
  border-top: 1px solid #bbb !important;
  border-right: 1px solid #bbb !important;
  margin: 0 0 70px 0;
  display: flex;
  flex-wrap: wrap; /* Wrap after the items fill the row */
  /* Safari specific rules 
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;*/
}
.th {
  border-bottom: 1px solid #bbb !important;
  border-left: 1px solid #bbb !important;
  padding: 0px 10px 0px !important;
  line-height: 3 !important;
}
.brackets .brackets_txt {
  color: #313131;
  font-size: 38px;
  font-weight: 100;
  line-height: 46px;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  position: relative;
  width: 353px;
}

.brackets .brackets_txt:before {
  border-left: 1px solid #ba7800;
  border-top: 1px solid #ba7800;
  content: "";
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}
.brackets .brackets_txt:after {
  border-bottom: 1px solid #ba7800;
  border-right: 1px solid #ba7800;
  bottom: 0;
  content: "";
  height: 40px;
  position: absolute;
  right: 0;
  width: 40px;
}
.brackets {
  margin: 80px 0 40px;
}
.brackets .brackets_txt {
  font-size: 30px;
  font-weight: 800;
  padding: 13px 40px 20px;
  text-align: left;
  width: 353px;
}
.brackets .philosophy {
  color: #313131;
  font-size: 30px;
  font-weight: 100 !important;
  line-height: 46px;
  text-align: center;
  padding: 13px 40px 20px;
  position: relative;
  width: 380px;
}
.philosophy_txt {
  color: #313131;
  font-size: 16px;
  line-height: 2;
  margin: 32px 0 0;
  width: 460px;
  position: relative;
  text-align: left;
  margin: 0 auto;
}
@media screen and (max-width: 470px) {
  .brackets .brackets_txt {
    width: auto;
  }
}
@media screen and (max-width: 470px) {
  .philosophy_txt {
    width: auto;
  }
}
.gap {
  margin: 80px 0 40px;
}

/* --------------------------
   4. Info
   -------------------------- */
/*FirstImg*/
.zoomImageCenter {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  position: absolute !important;
  background-attachment: fixed;
}
/*Container*/
.masonry .item {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}
.masonry .item img {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0deg)
    scale3d(1, 1, 1);
  transform: translate3d(0, 0, 0) rotate3d(1, 1, 1, 0deg) scale3d(1, 1, 1);
  transition: 0.3s all;
}
.masonry .item:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}
.masonry .item .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #f5f5f5;
  top: 0;
  opacity: 0;
  left: 0;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.masonry .item .overlay .overlay-inner {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.masonry .item:hover .overlay {
  opacity: 0.8;
}
.masonry .item .overlay h3 {
  font-size: 23px;
  color: #5d5d5d;
  text-decoration: none;
  text-align: center;
  letter-spacing: 2px;
}
.masonry .item .overlay h3 a {
  text-decoration: none;
  color: #424949;
}
.masonry .item .overlay h5 {
  text-align: center;
  font-size: 15px;
  color: #757373;
  letter-spacing: 1px;
  padding-top: 10px;
  text-decoration: none;
}
.masonry .item .overlay h5 a {
  text-decoration: none;
  color: #3c3a3a;
}
.second-section ul {
  font-size: 15px;
  text-align: center;
  padding: 50px 0;
  font-family: "Palanquin", sans-serif;
}
/* --------------------------
   4-1. Info1
   -------------------------- */
/*Text*/
.font18 {
  font-size: 17px;
  line-height: 50px;
  text-align: center;
}
.contact-content .h1TxtVer h2 {
  text-align: center;
  font-size: 250%;
  line-height: 1;
  font-weight: bold;
}
/* --------------------------
   4-2. Info2
   -------------------------- */
/*Text*/
.icoimg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.icosize {
  width: 50%;
  height: 50%;
}
.size8 {
  background-image: linear-gradient(180deg, #acb6e5, #74ebd5);
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.icotext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: auto;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}
.info2 {
  order: 1px solid #ddd;
  border-top: none;
  margin-bottom: 40px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 25px 10px;
}
/* --------------------------
   4-3. Info3
   -------------------------- */
/*Text*/
.font17s {
  line-height: 2 !important;
}

/* --------------------------
   5. Business
   -------------------------- */
.business {
  padding: 20px 0;
}
.business .pic-inner {
  border: 1px solid #ddd;
  border-top: none;
  margin-bottom: 30px;
  padding: 10px 25px 30px;
  background-color: white;
  opacity: 1;
}
.business .pic-inner h3 {
  font-size: 30px;
  color: #000000;
  letter-spacing: 2px;
  padding-bottom: 10px;
  padding-top: 15px;
}
.business .pic-inner h3 a {
  font-size: 30px;
  color: #000000;
  letter-spacing: 2px;
  padding-bottom: 10px;
  padding-top: 15px;
  text-decoration: none;
}
.business .picture img {
  width: 100%;
  height: 400px;
}
.business .items2 {
  padding-top: 40px;
}
@media screen and (max-width: 1100px) and (min-width: 400px) {
  .business .picture img {
    height: 300px;
  }
  .business .items2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 440px) {
  .business .picture img {
    height: 200px;
  }
  .business .items2 {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.business .pic-inner p {
  padding-top: 10px;
}

.business .pic-inner span {
  color: #ba7800;
}
.business .pic-inner .btn {
  height: 35px;
  background-color: #dcdcdc;
  margin-bottom: 30px;
  margin-top: 20px;
  color: #5f5f5f;
  font-weight: 600;
  text-transform: uppercase;
}
.shadow {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.tablecell {
  display: table-cell;
}
/* --------------------------
   6. Company
   -------------------------- */
/*Image*/
.zoomImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-position: center bottom !important;
  background-repeat: no-repeat !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  position: absolute !important;
  background-attachment: fixed;
}
@media screen and (min-width: 1000px) {
  .zoomImage {
    background-position: center bottom -200px !important;
  }
}
/*Container*/
.contact-content h2 {
  padding-left: 20px;
  padding-top: 30px;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.address {
  margin: 0 0 70px 0;
}
.address th {
  background: #ddd;
  font-weight: normal;
}
.address h2 {
  padding: 0 0 10px;
  font-size: 185.7%;
  line-height: 1.25;
  font-weight: normal;
}
.address .line {
  height: 1px;
  width: 50px;
  background-color: #ba7800;
  margin: 0 0 30px;
}
.map {
  line-height: 1.6;
}
.contact-content {
  padding: 80px 0;
}

.contact-content .item {
  font-size: 23px;
  padding-bottom: 30px;
}
.contact-content .items {
  margin-bottom: 30px;
}
.contact-content .items h3 {
  text-transform: uppercase;
  font-size: 22px;
}
.contact-content .items p {
  line-height: 20px;
  font-size: 13px;
  letter-spacing: 1px;
}
.contact-content .items2 {
  text-align: left;
}
.contact-content .items .line {
  height: 1px;
  width: 50px;
  background-color: #ba7800;
  margin: 10px 0;
}
.contact-content .items .line-right {
  float: right;
}
.contact-content form {
  width: 100%;
}
.contact-content form input,
.contact-content form textarea {
  width: 100%;
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid #999;
  outline: 0;
}
.contact-content form textarea {
  height: 200px;
  resize: none;
}
.contact-content .form-area {
  padding-top: 10px;
}
.contact-content form input[type="submit"] {
  width: 150px;
  border: 0;
  outline: 0;
  border: 1px solid #999;
  color: #666;
  float: right;
  background: transparent;
}
/* --------------------------
   7. Recruit
   -------------------------- */
.recruitcss {
  clear: both;
  width: 100%;
  margin: 20px 0 40px;
}
.contact-content .recruitcss h1 {
  line-height: 1;
  /*color: rgb(166, 166, 241);*/
  font-weight: 400;
  font-size: 45px;
  margin-top: 2vw;
  margin-bottom: 1vw;
  padding-bottom: 20px;
}
.contact-content .recruitcss h3 {
  padding-bottom: 10px;
}
.contact-content .recruitcss p {
  line-height: 2;
  font-size: 18px;
  padding-bottom: 40px;
}
.work {
  margin: 0 0 70px 0;
}
.work .line {
  height: 1px;
  width: 50px;
  background-color: #2e86c1;
  margin: 0 0 30px;
}
.work h2 {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 185.7%;
  line-height: 1.25;
  font-weight: normal;
}
.panel-heading {
  background-image: linear-gradient(
    270deg,
    rgb(192, 192, 238),
    #e2ebe9
  ) !important;
}
.table_work {
  margin: 0 0 10px 0;
  display: flex;
  flex-wrap: wrap; /* Wrap after the items fill the row */
  /* Safari specific rules 
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;*/
}
.th_work {
  border-bottom: 1px solid #bbb;
  padding: 8px 10px 8px;
  line-height: 1.8;
}
.th_work_noheight {
  line-height: 1.8;
  padding-bottom: 15px;
}
@media screen and (max-width: 750px) {
  .th_work_xs {
    padding-left: 25px !important;
  }
  .th_work_xs_noline {
    border-bottom: 0px solid white !important;
  }
}
/* --------------------------
   8. Privacy/Person
   -------------------------- */
.h1TxtVer111 {
  clear: both;
  width: 100%;
  margin: 70px 0 20px 0;
}
.contact-content .h1TxtVer111 h2 {
  margin: 0 0 30px;
  padding: 0 0 10px;
  font-size: 185.7%;
  line-height: 1.25;
  font-weight: bold;
  border-bottom: solid #e5e5e5 1px;
}
.contact-content .h1TxtVer111 h5 {
  margin: 0 0 10px;
  padding: 0 0 10px;
  font-size: 120%;
  font-weight: bold;
}
.contact-content .h1TxtVer111 h6 {
  margin: 10px 0 10px;
  padding: 0 0 10px;
  font-size: 90%;
  font-weight: bold;
}
/* --------------------------
   9. Footer
   -------------------------- */
footer {
  padding: 10px 0;
  background: #f7f7f7;
  position: relative;
  font-size: 14px;
  line-height: 23px;
}
.footer {
  clear: both;
  width: 100%;
  padding: 8px 0;
}
.main-footer a {
  margin: 0 25px 0 0;
  color: #666;
}
footer .main-footer {
  text-align: center;
}
footer .main-footer .icons ul {
  padding: 0;
}
footer .main-footer .icons a {
  text-decoration: none;
}
footer .main-footer .icons i {
  font-size: 15px;
  color: #333;
}
footer .main-footer .icons i:hover {
  color: #2e86c1;
}
footer .main-footer .icons {
  padding-top: 10px;
}
footer .main-footer .icons ul li {
  display: inline;
  margin-right: 10px;
}
/* --------------------------
   10. Media Screen
   -------------------------- */
@media screen and (max-width: 991px) {
  .slicknav_menu {
    display: block;
  }
  header .menu {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .first-content .pic .content h3 {
    font-size: 30px;
  }
  .about-second-content h3 {
    font-size: 25px;
  }
  .about-second-content h5 {
    padding-bottom: 15px;
  }
  .about-fourth-content .frame p {
    padding-bottom: 50px;
  }
  .about-fourth-content .frame h3 {
    padding: 20px 0;
  }
  .about-seventh-content .items .owl-item img {
    padding: 0 70px;
  }
  .contact-content form input,
  .contact-content form textarea {
    width: 100%;
  }
  .contact-content form input[type="submit"] {
    float: left;
  }
}
@media screen and (max-width: 800px) {
  .contact-content {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* --------------------------
   11. Other
   -------------------------- */
.items .overlay .content {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #000;
  top: 0;
  opacity: 0;
  left: 0;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
